/*all*/
*{
	margin: 0;
	padding: 0;
}
/*end all*/
/*define*/
[noboder]{
	border:none !important;
}
[itemstart]{
	margin-left:0 !important;
	border-left:none !important;
	padding-left:0 !important;
}
[itemend]{
	margin-right:0 !important;
	padding-right:0 !important;
	border-right: none !important;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
	width: 80%;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
}

/*end define*/
body{
	color: #333;
	font-size: 14px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*header*/
header{
}

header>.center{
	background-color: #00316b;
	position: fixed;
	width: 100%;
	z-index: 10;
	padding-top: 5px;
	padding-bottom: 5px;
}

header>.center>.container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header>.center .logo img{
	height: 100%;
	display: block;
}
header>.center .menu_mobile{
	display: flex;
	flex-direction: row;
}
header>.center .menu_mobile i{
	color: white;
	font-size: 14px;
	line-height: 26px;
}
header>.center .menu_mobile .search,
header>.center .menu_mobile .menu_collapse{
	height: 100%;
	padding: 7px 10px;
	box-sizing: border-box;
	vertical-align: middle;
}
header>.center .menu_mobile .menu_collapse{
	border-left: 1px solid #0052b8;
}


header>.center nav.mainmenu ul{
}









/*end header*/








/*content*/
/*slide*/
.content{
	display: flex;
	flex-direction: column;
}

.content .slide{
	margin-bottom: 15px;
}
.content .slide ul{
}
.content .slide ul li{
	
}
.content .slide ul li a{
	display: block;
}
.content .slide ul li a img{
	width: 100%;
	height: auto;
	display: block;
}
/*end slide*/




/*section*/

section{
}
section .head{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	align-items: center;
	background-color: #f6f8ff;
}
section .head>.title{
	text-transform: uppercase;
	font-weight: 500;
	padding:7px 10px;
	color: #00408d;
}



section .head>.title.borderLeft::before{
	content: '';
	width: 2px;
	height: calc(100% - 14px);
	position: absolute;
	left: 0;
	top: 7px;
	background-color: #00408d;
}
section .head>.title.borderTop{
	width: 100%;
	border-top: 2px solid #990700;
}
section .head>.title.center{
	text-align: center;
	width: 100%;
}
section .head>.title.leftDotted{
	width: 100%;
}
section .head>.title.leftDotted>span{
	background-color: #f6f8ff;
	z-index: 2;
	position: relative;
	padding-right: 10px;
}
section .head>.title.leftDotted::after{
	content: '';
	width: calc(100% - 22px);
	border:1px dotted #00408d;
	position: absolute;
	left: 10px;
	top: 50%;
}

section .head>.title.leftLine
{
	width: 100%;
}
section .head>.title.leftLine>span{
	background-color: #f6f8ff;
	z-index: 2;
	position: relative;
	padding-right: 10px;
}
section .head>.title.leftLine::after{
	content: '';
	height: 2px;
	width: calc(100% - 20px);
	position: absolute;
	background-color: #00408d;
	top: 50%;
	left: 10px;
}




section .head>ul.group_title{
	padding: 0 10px;
	font-size: 13px;
	float: right;
}

section .head>ul.group_title li{
	float: left;
	padding:0 5px;
	text-transform: uppercase;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
}

section .head>ul.group_title li:hover,
section .head>ul.group_title li.active{
	color: #f60;
}



section .body{
	padding-top: 5px;
	padding-bottom: 10px;
}
section>.body ul{

}
section>.body ul>li
{
	border-bottom: 1px solid rgba(220,222,227,.7);
}
section>.body ul>li>a
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px 0 5px 0;
	color: #333;
}
section>.body ul.personal>li>a::before,
section>.body ul.enterprise>li>a::before,
section>.body ul.other>li>a::before
{
	content: "› ";
	color: #999;
	padding-right: 5px;
}
section>.body ul>li>a:hover,
section>.body ul>li>a:hover::before
{
	color: #ff6a00;
	text-decoration: none;
}
section>.body ul>li>a img{
	width: 50px;
	border-radius: 3px;
}
section>.body ul>li>a span{
	padding-left: 5px;	
}

section>.body  a.viewmore{
	display: block;
	padding: 5px;
	margin-top: 5px;
	background-color: #efefef;
	text-align: center;
	color: #990700;
	text-decoration: none;
}


section>.body .pagination{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

section>.body .pagination li{
	float: left;
	padding: 2px 7px;
	margin: 2px;
	background-color: #efefef;
}
section>.body .pagination li a{
	display: block;
	margin: 0;
}


.banner{
	margin-bottom: 15px;
}
.banner img{
	width: 100%;
	height: auto;
	min-height: 100px;
	display: block;
}

section.about{
	background-color: #f6f8ff;
}

section.partner .item{
	width: 25%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}
section.partner .item img{
	width: 100%;
	border:1px solid #f1f1f1;
}

section.partner .body{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}





footer{
}
footer>.center{
	background-color: #292b37;
	color: #e2e2e2;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
}
footer>.center>.container{
	display: flex;
	flex-direction: column;
}
footer .head{
	text-transform: uppercase;
	border-bottom: 1px dotted #444;
	padding-bottom: 10px;
}
/*
.menu-service ul, .menu-news ul{
    list-style: none;
    margin-top: 4px;
}
.menu-service ul li, .menu-news ul li{
}
.menu-service ul li a::before, .menu-news ul li a::before{
    content: '-';
    margin-right: 5px;
}
.menu-service ul li a, .menu-news ul li a{
    color: #999;
    text-decoration: none;
    padding: 3px 0;
    display: block;
}
.menu-service ul li a:hover, .menu-news ul li a:hover{
    color: #ddd;
    }*/
    footer>.center .body{
    	display: flex;
    	flex-direction: row;
    	align-items: center;
    	padding: 10px 0;
    	border-bottom: 1px dotted #444;
    }
    footer>.center .body>img{
    	width: 30px;
    }
    footer>.center .body>.phone{
    	display: flex;
    	flex-direction: column;
    	padding: 0 10px;
    }

    footer>.center .social{
    	margin-top: 10px;
    	margin-bottom: 10px;
    	display: flex;
    	flex-direction: row;
    	justify-content: space-between;
    }
    footer>.center .social a{
    	display: flex;
    	flex-direction: row;
    	align-items: center;
    	color: #e2e2e2;
    }
    footer>.center .social a img{
    	height: 20px;
    }
    footer>.center .social a>span{
    	padding-left: 5px;
    	padding-right: 5px;
    }

    footer>.copyright{
    	padding: 12px;
    	box-sizing: border-box;
    	background-color: #333645;
    	color: #a5a5a5;
    	font-size: 13px;
    }


