/*all*/
*{
	margin: 0;
	padding: 0;
}
/*end all*/
/*define*/
[noboder]{
	border:none !important;
}
[itemstart]{
	margin-left:0 !important;
	border-left: none !important;
}
[itemend]{
	margin-right:0 !important;
	padding-right:0 !important;
	border-right: none !important;
}
ul{
	list-style: none;
}
.container{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
/*end define*/
body{
	color: #333;
	font-size: 14px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
}

header .header_center{
	background-color: #00408d;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.header_center .container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header_center .logo{
	max-height: 40px;
}
.header_center .logo img{
	height: 100%;
	display: block;
}
.header_center .menu_mobile{
	display: flex;
	flex-direction: row;
}
.header_center .menu_mobile i{
	color: white;
	font-size: 14px;
	line-height: 26px;
}
.header_center .menu_mobile .search,
.header_center .menu_mobile .menu_collapse{
	height: 100%;
	padding: 7px 10px;
	box-sizing: border-box;
	vertical-align: middle;
}
.header_center .menu_mobile .menu_collapse{
	border-left: 1px solid #f60;
}



/*content*/
.content{
	padding-top: 50px;
}

.content .slide{
	margin-top: 10px;
}
.content .slide ul{
}
.content .slide ul li{
	
}
.content .slide ul li a{
	display: block;
}
.content .slide ul li a img{
	width: 100%;
	height: auto;
	display: block;
}

.content section{
}
.content section .section_head{
	/*padding-left: 8px;*/
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 10px;
	padding-right: 10px;

}
/*.content section .section_head .section_title::before{
	content: '';
	width: 2px;
	height: 100%;
	background-color: #00408d;
	position: absolute;
	left: 0;
	top: 0;
}*/
.content section .section_head .section_title{
	text-transform: uppercase;
	padding-left: 10px;
	border-left: 2px solid #00408d;
}
section .title.center{
	text-align: center;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
}

.content section .section_body{
}
.content section .section_body .group{
	margin-top: 5px;
}
ul.group-title{
	font-size: 13px;
	float: right;
}
ul.group-title li{
	float: left;
	padding:0 5px;
	text-transform: uppercase;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
}
.group .group_head{
	
}
.group ul{
	
}
.group ul li{
	
}
.group ul li:hover,.group ul li.active{
	color: #f60;
}


.section_body ul li{
	border-bottom: 1px solid rgba(220,222,227,.7);
}
.section_body ul li a{
	margin: 5px 0 5px 0;
	display: block;
	color: #333;
	text-decoration: none;
}
.section_body ul li a::before{
	content: "› ";
	color: #999;
}
.section_body ul li a:hover,
.section_body ul li a:hover::before{
	color: #ff6a00;
	text-decoration: none;
}

.banner{
}
.banner img{
	width: 100%;
	height: auto;
	min-height: 100px;
	display: block;
}
/*end content*/
article{
	border-bottom: 1px solid rgba(220,222,227,.7);
}
article a{
    display: flex;
    align-items: center;
    margin: 5px 0;
    height: 100%;
    color: #444;
}
article a:hover{
    background-color: #fcfcfc;
    text-decoration: none;
    color: #f60;
}
article a .article_img{
    width: 60px;
}
article a .article_img img{
    width: 50px;
    border-radius: 3px;
}
article a .article_text{
    padding-left: 5px;
}
.about{
}
.post_laws{
	background-color: #f8f9fa;
}


footer{
}
footer .footer-content{
    height: auto;
    background-color: #292b37;
    color: #999;
    padding-top: 10px;
}
.footer-content .menu-title{
    color: #eeeeee;
    text-transform: uppercase;
    border-bottom: 1px dotted #444;
    padding-bottom: 10px;
}

.menu-service ul, .menu-news ul{
    list-style: none;
    margin-top: 4px;
}
.menu-service ul li, .menu-news ul li{
}
.menu-service ul li a::before, .menu-news ul li a::before{
    content: '-';
    margin-right: 5px;
}
.menu-service ul li a, .menu-news ul li a{
    color: #999;
    text-decoration: none;
    padding: 3px 0;
    display: block;
}
.menu-service ul li a:hover, .menu-news ul li a:hover{
    color: #ddd;
}

.phone{
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px dotted #444;
}
.phone .phone-content{
    margin-top: 4px;
}
.contact-more{
    margin-top: 10px;
    margin-bottom: 1em;
    display: flex;
}
.contact-more a{
    margin-bottom: 10px;
    width: 25%;
}
.contact-more a img{
    height: 20px;
}
footer .footer-copyright{
    padding: 12px;
    box-sizing: border-box;
    background-color: #333645;
    color: #a5a5a5;
    font-size: 13px;
}
